body {
  background-image: url('./Images/backgroundgame.png') ;
  background-size:cover; 
  background-position: center;
  background-repeat:no-repeat;
  min-height: 100%;
  margin: 0;
  font-family: 'Caveat Brush', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
